body {
  font-family: 'Roboto', Helvetica, sans-serif;
  /* fixed contrast by making the bckground white */
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

/* self explanitory but this adds the skip link */
.skip-link{
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 0.5rem;
  z-index: 100;
}

/* makes the skip link hidden until tab is clicked */
.skip-link:focus{
  top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

/* more selection visibility */
.main-nav ul li a:focus, .main-nav ul li a:hover{
  outline: 2px solid #000;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

/* more interactive buttons */
form button:focus,
form button:hover {
  background: #1e70ff;
  color: #fff;
}

.site-footer {
  padding: 2rem 0;
}